$sm:648px;
$md:768px;
$lg:1024px;
$xl:1280px;
$xxl:1440px;

$black: #18191F;
$purple: #8C30F5;
$gray: #969BAB;
body {
  font-family: 'Inter', sans-serif;
  position: relative;
  margin: 0;
 
  & .bg-img {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    margin:0 auto;
  }
}
.container {
  max-width: 1140px;
  margin:0 auto;
}
.btn {
  &-primary {
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    border:none;
    padding: 1em 2em;
    background-color: $purple;
    color:white;
    cursor: pointer;
    border-radius: 0.4em;

  }
}

.background {
  background-color: rgba(242, 247, 255, 0.7);
}
// header
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:1.5em 0;
  &__links {
    display: flex;
    align-items: center;
    gap:2em;
    & nav {
      display: flex;
      gap:2em;
    }
    & a {
      text-decoration: none;
      color: $black;
    }
  }
  &__stores {
    display: flex;
    gap:1em;
  }
}
// hero 
.hero {
  max-width: 1140px;
  margin:0 auto;
  display: flex;
  justify-content: space-around;
  gap: 2em;
  align-items: flex-start;
  margin-top: 10em;
  & h1 {
    font-size: 4.5em;
    line-height: 136%;
    font-weight: 800;
  }
}
// logos
.logos {
  max-width: 1140px;
  margin:0 auto;
  background: linear-gradient(90deg, rgba(192, 204, 218, 0.1) 0%, rgba(192, 204, 218, 0.6) 50.38%, rgba(192, 204, 218, 0.1) 100%);
  padding-top: 1px;
  padding-bottom: 1px;
  & div {
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:4em;
    padding:2.5em 0;
  }
}
//features 
.features {
  max-width: 1140px;
  margin:0 auto;
  text-align: center;
  padding:4em 0;
  & h2 {
    font-size: 3em;
    margin: 0;
    padding: 0;
    color:$black;
  }
  & p {
    margin-top: 0.5em;
    line-height: 178%;
    color:$black;
    max-width: 540px;
    text-align: center;
    margin:0 auto;
  }
  &__blocks {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:4em 2em;
    padding:3em 0;
    & h3 {
      font-size: 1.5em;
      margin:0;
      padding: 0;
    }
  }
}
//testemonial
.testimonial {
  background-color: #D5FAFC;
  padding:8em 0;
  width: 100%;
  margin:0 auto;
  &__wrapper {
    position: relative;
    z-index: 0;
    &__img {
      position: absolute;
      top: -3.5em;
      z-index: -1;
      opacity: 0.2;
      left:-6.5em;
    }
    &__info {
      & h2 {
        font-size: 3em;
        line-height: 133%;
        margin:0;
      }
      & p {
        font-size: 1.25em;
        margin:0;
        padding:0;
      }
    }
  }
  &__blockwrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap:2em;
  }
  &__firstblock {
    margin-left: 6em;
    margin-top: 2em;
  }
  &__thirdblock {
    margin-top: 2em; 
  }
  &__leftdesk {
    flex:1;
  }
  &__rightdesk {
    flex:1;
  }
  .block {
    background-color: white;
    padding:2em;
    border-radius: 0.5em;
    box-shadow: 0px 10px 20px rgba(41, 41, 42, 0.07);
    & p {
      padding:2em;
      font-size: 1.25em;
      line-height: 178%;
    }
    & h5 {
      margin:0;
      padding:0 2em;
      font-size: 1.25em;
    }
    & span {
      color:$gray;
      font-size: 1.25em;
      padding:0 2em;
      display: block;
    }
}
}
.stats {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding:5em  0;
  &__title {
    flex:1;
    & h2 {         // component
      font-size: 3em;
      margin: 0;
      padding: 0;
      color:$black;
      line-height: 133%;
      font-weight: 800;
    }
    & p {
      margin-top: 0.5em;
      line-height: 178%;
      color:$black;
      max-width: 540px;
      font-size: 1.125em;
    }
  }
  &__info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2.5em 4em;
    & div {
      display: flex;
      align-items: center;
      gap:1.5em;
      & h4 {
        font-size: 1.75em;
        margin:0;
      }
    }
  }
}
// HEADLINE
.headline {
  display: flex;
  justify-content: center;
  gap:2em;
  align-items: center;
  padding:4em 0;
  &__info {
    padding:0 3em;
    & h2 {
      font-size: 2.5em;
      margin:0;
      font-weight: 800;
    }
    & p {
      font-size: 1.125em;
      line-height: 178%;
      margin-top: 2em;
    }
    & a {
      margin-top: 2em;
      color:$purple;
      text-decoration: none;
      display: flex;
      align-items: center;
      gap:0.5em;
    }
  }
}
// FEATURE-BOTTOM 
.feature-bottom {
  padding:4em 0;
  & img {
    width: 100%;
  }
  &__title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:2em;
    & h2 {
      flex:1;
      font-size: 2.5em;
      font-weight: 800;
      line-height: 135%;
    }
    & p {
      flex:1;
      font-size: 1.2em;
      line-height: 178%;
    }
  }
}
// CTA  
.CTA {
  background-color: #2EC5CE;
  &__main {
    display: flex;
    align-items: center;
    justify-content: center;
    & h2 {
      font-size: 3em;
      font-weight: 800;
      margin:0;
    }
    &  p {
      font-size: 1.125em;
      line-height: 178%;
    }
  &__info {
    flex:1;
    & div {
        & p {
          margin:0;
          font-size: 1.125em;
          font-weight: 500;
        }
      }
    }
  }
}
//footer {
.footer {
  background-color: #0B0D17;
  padding:4em 0;
  &__info {
    display: flex;
    justify-content: space-between;
    &__left-section {
      display: flex;
      flex-direction: column;
      gap:1em;
      & img {
        width: 2em;
       }
    & nav {
      margin-top: 1em;
    }   
    & a {
      color:white;
      text-decoration: none;
     }
    & p {
      font-size: 0.875em;
      color:white;
      margin:0;
      margin-top: 1.5em;
      }
    }
    &__right-section {
      display: flex;
      flex-direction: column;
      gap: 1em;
      & p {
        color: white;
        font-size: 1.125em;
        font-weight: 500;
        margin: 0;
      }
    }
  }
}